*
{
    /* apply defaults */
    margin: 0;
    padding: 0;

    /* allow draw */
    font-family: monospace;

    /* adaptive */
    color-scheme: light dark;

    /* vars */
    --container-max-width: 768px;
}

*::placeholder
{
    font-size: 12px;
}

a, a:active, a:visited
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

body
{
    font-size: 12px;
    padding: 0 16px;
}

header
{
    max-width: var(--container-max-width);
    margin: 16px auto;
    display: block;
}

header > strong
{
    font-size: 14px;
}

header > div
{
    margin: 8px 0;
}

header > div > pre
{
    display: inline-block;
}

main
{
    display: block;
    margin: 16px auto 0 auto;
    max-width: var(--container-max-width);
    padding-bottom: 115px;
}

main > h2
{
    display: inline-block;
    font-size: 12px;
    margin: 16px 0;
}

main > form > input[type="text"]
{
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
}

main ul
{
    list-style: none;
}

main ul ul
{
    margin-bottom: 16px;
    margin-left: 16px;
    margin-top: 16px;
}

main ul > li
{
    margin: 8px 0;
    padding: 8px 0;
    word-wrap: break-word;
    border-bottom: 1px #999 solid;
}

main ul > li:last-child
{
    border-bottom: none;
}

main ul > li p
{
    padding: 8px 0;
}

main ul li > span > svg
{
    cursor: default;
    fill: #999;
    float: right;
}

main > sup > a > svg
{
    fill: #ee784e;
}

footer
{
    /*backdrop-filter: blur(100px);*/
    background-color: Canvas;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    z-index:2;
}

footer > form
{
    bottom: 16px;
    display: block;
    margin: 16px auto;
    max-width: var(--container-max-width);
    overflow: hidden;
    width: 100%;
}

footer > form > textarea
{
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    max-width: var(--container-max-width);
    padding: 4px;
    width: 100%;
}

footer > form > button
{
    cursor: pointer;
    float: right;
    padding: 2px 8px;
}

footer > form > output
{
    color: #ff6363;
    display: block;
    font-weight: bolder;
    margin-bottom: 16px;
}