{% extends 'default/layout.html.twig' %}
{% block main_content %}
    {{
        render(
            controller(
                'App\\Controller\\ModuleController::room',
                {
                    request: request
                }
            )
        )
    }}
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    {{ post.value }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block footer_content %}
    {{
        render(
            controller(
                'App\\Controller\\ModuleController::post',
                {
                    request: request
                }
            )
        )
    }}
{% endblock %}